In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("27e2a688-13f8-4852-b6c0-0caaed9bbbe9_Series - Metadata.csv")
df.head()

,Country Name,Country Code,Series Name,Series Code,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,India,IND,GDP (constant 2015 US$),NY.GDP.MKTP.KD,1704596203503.84,1813453530765.7,1947834564909.32,2103588360044.39,2277267041549.57,2432016068497.06,2588974770243.8,2689205295884.67,2533830417085.77,2.779348e+12,2.973542e+12,3.199055e+12
1,India,IND,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,5.45638755164701,6.38610640092348,7.41022760516408,7.99625378566586,8.25630550178155,6.79538341898569,6.4538513449766,3.87143694070957,-5.77772470687434,9.689592e+00,6.987039e+00,7.583971e+00
2,India,IND,GDP per capita (constant 2015 US$),NY.GDP.PCAP.KD,1337.47611073826,1404.54534647065,1490.02850762963,1590.17433134297,1701.18423764708,1795.9118496797,1891.13843545663,1944.31484844968,1814.56156970557,1.974581e+03,2.098221e+03,2.239250e+03
3,India,IND,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,4.06082238436569,5.01461186438419,6.08618022720231,6.72106763062213,6.98098970132099,5.56833351357884,5.30240867857299,2.81187310225657,-6.6734705465819,8.818606e+00,6.261599e+00,6.721381e+00
4,Indonesia,IDN,GDP (constant 2015 US$),NY.GDP.MKTP.KD,740537688618.414,781691320690.699,820828013230.588,860854232686.214,904181621780.388,950021694164.001,999178586309.021,1049330233997.45,1027656193885.38,1.065709e+12,1.122271e+12,1.178924e+12

In [3]:
filtered_df = df[df['Series Name']=='GDP (constant 2015 US$)']
filtered_df

,Country Name,Country Code,Series Name,Series Code,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,India,IND,GDP (constant 2015 US$),NY.GDP.MKTP.KD,1704596203503.84,1813453530765.7,1947834564909.32,2103588360044.39,2277267041549.57,2432016068497.06,2588974770243.8,2689205295884.67,2533830417085.77,2.779348e+12,2.973542e+12,3.199055e+12
4,Indonesia,IDN,GDP (constant 2015 US$),NY.GDP.MKTP.KD,740537688618.414,781691320690.699,820828013230.588,860854232686.214,904181621780.388,950021694164.001,999178586309.021,1049330233997.45,1027656193885.38,1.065709e+12,1.122271e+12,1.178924e+12
8,Thailand,THA,GDP (constant 2015 US$),NY.GDP.MKTP.KD,375224234353.836,385308369004.167,389101609925.933,401296238228.084,415081396923.293,432422173710.333,450682801200.339,460212749509.626,432369701127.278,4.391500e+11,4.499653e+11,4.584373e+11
12,United States,USA,GDP (constant 2015 US$),NY.GDP.MKTP.KD,16974575729000,17334068403000,17771549056000,18295019000000,18627887993000,19085691123000,19651869118000,20136688111000,19690968695000,2.083309e+13,2.123631e+13,2.177628e+13
16,Euro area,EMU,GDP (constant 2015 US$),NY.GDP.MKTP.KD,11357464648713.8,11332572294999.1,11491033218395.8,11727106023830.5,11945908763905.3,12259920064925.7,12479242097863,12677715217553.7,11903098048525,1.261292e+13,1.304505e+13,1.310334e+13
20,China,CHN,GDP (constant 2015 US$),NY.GDP.MKTP.KD,8926363432826.3,9619598215288.48,10333926843443.8,11061572618578.7,11819153423353.8,12640253743744.4,13493442283300.8,14296369668065.2,14616413683019.5,1.585128e+13,1.632508e+13,1.717399e+13
24,"Iran, Islamic Rep.",IRN,GDP (constant 2015 US$),NY.GDP.MKTP.KD,400547308191.213,394451061454.589,414113559617.869,408212917874.964,444197240271.594,456450444446.135,448060850719.67,434302748072.116,448766282369.436,4.699471e+11,4.876952e+11,5.118467e+11
28,United Arab Emirates,ARE,GDP (constant 2015 US$),NY.GDP.MKTP.KD,316857313565.968,332876224084.284,346742821790.424,370275469571.137,390868305597.139,393741456224.296,398914879874.988,403336245504.457,383342656333.374,4.000363e+11,4.314408e+11,4.461264e+11
38,NY.GDP.MKTP.KD,CC BY-4.0,GDP (constant 2015 US$),GDP at purchaser's prices is the sum of gross ...,"World Bank national accounts data, and OECD Na...",Economic Policy & Debt: National accounts: US$...,Annual,2015,Gap-filled total,Gross domestic product (GDP) represents the su...,An economy's growth is measured by the change ...,Each industry's contribution to growth in the ...,https://datacatalog.worldbank.org/public-licen...,NaN,NaN,NaN

In [5]:
filtered_df.drop(filtered_df.index[-1], inplace=True)

C:\Users\GF63\AppData\Local\Temp\ipykernel_26420\1891386879.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.drop(filtered_df.index[-1], inplace=True)

In [6]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 0 to 28
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   8 non-null      object
 1   Country Code   8 non-null      object
 2   Series Name    8 non-null      object
 3   Series Code    8 non-null      object
 4   2012 [YR2012]  8 non-null      object
 5   2013 [YR2013]  8 non-null      object
 6   2014 [YR2014]  8 non-null      object
 7   2015 [YR2015]  8 non-null      object
 8   2016 [YR2016]  8 non-null      object
 9   2017 [YR2017]  8 non-null      object
 10  2018 [YR2018]  8 non-null      object
 11  2019 [YR2019]  8 non-null      object
 12  2020 [YR2020]  8 non-null      object
 13  2021 [YR2021]  8 non-null      float64
 14  2022 [YR2022]  8 non-null      float64
 15  2023 [YR2023]  8 non-null      float64
dtypes: float64(3), object(13)
memory usage: 1.1+ KB

In [7]:
# Step 1: Filter for 'GDP (constant 2015 US$)' rows
gdp_df = filtered_df[filtered_df['Series Name'] == 'GDP (constant 2015 US$)']

# Step 2: Melt the DataFrame to make 'Year' a single column
melted_df = gdp_df.melt(id_vars=['Country Name'], 
                        value_vars=['2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', 
                                    '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', 
                                    '2020 [YR2020]', '2021 [YR2021]', '2022 [YR2022]', '2023 [YR2023]'], 
                        var_name='Year', 
                        value_name='GDP')

# Step 3: Clean up the 'Year' column to extract just the year number
melted_df['Year'] = melted_df['Year'].str.extract(r'(\d{4})')

# Step 4: Pivot the DataFrame to make 'Country Name' as columns
final_df = melted_df.pivot(index='Year', columns='Country Name', values='GDP')

# Step 5: Rename the columns to include 'GDP' before each country name
final_df.columns = ['GDP ' + col for col in final_df.columns]

In [8]:
final_df

,GDP China,GDP Euro area,GDP India,GDP Indonesia,"GDP Iran, Islamic Rep.",GDP Thailand,GDP United Arab Emirates,GDP United States
Year,,,,,,,,
2012,8926363432826.3,11357464648713.8,1704596203503.84,740537688618.414,400547308191.213,375224234353.836,316857313565.968,16974575729000
2013,9619598215288.48,11332572294999.1,1813453530765.7,781691320690.699,394451061454.589,385308369004.167,332876224084.284,17334068403000
2014,10333926843443.8,11491033218395.8,1947834564909.32,820828013230.588,414113559617.869,389101609925.933,346742821790.424,17771549056000
2015,11061572618578.7,11727106023830.5,2103588360044.39,860854232686.214,408212917874.964,401296238228.084,370275469571.137,18295019000000
2016,11819153423353.8,11945908763905.3,2277267041549.57,904181621780.388,444197240271.594,415081396923.293,390868305597.139,18627887993000
2017,12640253743744.4,12259920064925.7,2432016068497.06,950021694164.001,456450444446.135,432422173710.333,393741456224.296,19085691123000
2018,13493442283300.8,12479242097863,2588974770243.8,999178586309.021,448060850719.67,450682801200.339,398914879874.988,19651869118000
2019,14296369668065.2,12677715217553.7,2689205295884.67,1049330233997.45,434302748072.116,460212749509.626,403336245504.457,20136688111000
2020,14616413683019.5,11903098048525,2533830417085.77,1027656193885.38,448766282369.436,432369701127.278,383342656333.374,19690968695000
2021,15851276922873.099609,12612919829083.099609,2779348258937.5,1065709127396.859985,469947053431.510986,439150043937.791992,400036290964.174988,20833085468000.0
2022,16325084918823.800781,13045053754199.300781,2973542414789.299805,1122270779815.139893,487695221421.966003,449965296578.700012,431440812447.755005,21236308982000.0
2023,17173989334581.699219,13103343887030.800781,3199055012896.790039,1178924195813.570068,511846684554.593994,458437321749.607971,446126441632.291992,21776284673936.199219

In [11]:
final_df.to_csv("all_gdp.csv")

In [12]:
pd.read_csv("all_gdp.csv")

,Year,GDP China,GDP Euro area,GDP India,GDP Indonesia,"GDP Iran, Islamic Rep.",GDP Thailand,GDP United Arab Emirates,GDP United States
0,2012,8.926363e+12,1.135746e+13,1.704596e+12,7.405377e+11,4.005473e+11,3.752242e+11,3.168573e+11,1.697458e+13
1,2013,9.619598e+12,1.133257e+13,1.813454e+12,7.816913e+11,3.944511e+11,3.853084e+11,3.328762e+11,1.733407e+13
2,2014,1.033393e+13,1.149103e+13,1.947835e+12,8.208280e+11,4.141136e+11,3.891016e+11,3.467428e+11,1.777155e+13
3,2015,1.106157e+13,1.172711e+13,2.103588e+12,8.608542e+11,4.082129e+11,4.012962e+11,3.702755e+11,1.829502e+13
4,2016,1.181915e+13,1.194591e+13,2.277267e+12,9.041816e+11,4.441972e+11,4.150814e+11,3.908683e+11,1.862789e+13
5,2017,1.264025e+13,1.225992e+13,2.432016e+12,9.500217e+11,4.564504e+11,4.324222e+11,3.937415e+11,1.908569e+13
6,2018,1.349344e+13,1.247924e+13,2.588975e+12,9.991786e+11,4.480609e+11,4.506828e+11,3.989149e+11,1.965187e+13
7,2019,1.429637e+13,1.267772e+13,2.689205e+12,1.049330e+12,4.343027e+11,4.602127e+11,4.033362e+11,2.013669e+13
8,2020,1.461641e+13,1.190310e+13,2.533830e+12,1.027656e+12,4.487663e+11,4.323697e+11,3.833427e+11,1.969097e+13
9,2021,1.585128e+13,1.261292e+13,2.779348e+12,1.065709e+12,4.699471e+11,4.391500e+11,4.000363e+11,2.083309e+13
10,2022,1.632508e+13,1.304505e+13,2.973542e+12,1.122271e+12,4.876952e+11,4.499653e+11,4.314408e+11,2.123631e+13
11,2023,1.717399e+13,1.310334e+13,3.199055e+12,1.178924e+12,5.118467e+11,4.584373e+11,4.461264e+11,2.177628e+13

In [14]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, 2012 to 2023
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   GDP China                 12 non-null     object
 1   GDP Euro area             12 non-null     object
 2   GDP India                 12 non-null     object
 3   GDP Indonesia             12 non-null     object
 4   GDP Iran, Islamic Rep.    12 non-null     object
 5   GDP Thailand              12 non-null     object
 6   GDP United Arab Emirates  12 non-null     object
 7   GDP United States         12 non-null     object
dtypes: object(8)
memory usage: 864.0+ bytes